Django>=4.2,<5
graphene-django>=3.0.0b7
django-cors-headers>=4
django-celery-results>=2
django-redis>=5
channels>=4,<5
daphne>=4
django-graphql-jwt>=0.4.0
psycopg2-binary>=2.9.7
redis>=4.6.0
requests>=2.31.0